<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
		<!-- E_ALL => 32767 -->
		<!-- E_ALL & ~E_USER_DEPRECATED => 16383 -->
		<ini name="error_reporting" value="16383"/>

		<env name="FIXTURE_SCHEMA_METADATA" value="tests/schema.php"/>
	</php>

	<testsuites>
		<testsuite name="tools">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>

	<extensions>
		<extension class="\Cake\TestSuite\Fixture\PHPUnitExtension"/>
	</extensions>

	<coverage>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
	</coverage>
</phpunit>
