<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
		<!-- E_ALL => 32767 -->
		<!-- E_ALL & ~E_USER_DEPRECATED => 16383 -->
		<ini name="error_reporting" value="16383"/>
	</php>
	<testsuites>
		<testsuite name="tools">
			<directory>tests/</directory>
		</testsuite>
	</testsuites>
		<listeners>
		<listener class="Cake\TestSuite\Fixture\FixtureInjector">
			<arguments>
				<object class="Cake\TestSuite\Fixture\FixtureManager" />
			</arguments>
		</listener>
	</listeners>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
		</whitelist>
		<blacklist>
			<directory suffix=".ctp">src/Template/</directory>
		</blacklist>
	</filter>
</phpunit>
