parameters:
	autoload_files:
		- %rootDir%/../../../tests/bootstrap.php
	excludes_analyse:
		- %rootDir%/../../../src/TestSuite/*
		- %rootDir%/../../../src/View/Helper/TreeHelper
		- %rootDir%/../../../src/Utility/Mime
	ignoreErrors:
		- '#Access to an undefined property .+Table::\$belongsTo#'
		- '#Call to an undefined method .+TimeHelper::.+\(\)#'
		- '#Tools\\Utility\\Mime::\_\_construct\(\) does not call parent constructor from Cake\\Http\\Response#'

services:
    -
        class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
