parameters:
	autoload_files:
	- %rootDir%/../../../tests/bootstrap.php
	excludes_analyse:
		- %rootDir%/../../../src/TestSuite/*
		- %rootDir%/../../../src/Utility/Mime
	ignoreErrors:
		-
			message: '#Undefined variable: .+#'
			path: '%rootDir%/../../../src/View/Helper/TreeHelper.php'
		-
			message: '#Variable \$.+ might not be defined.#'
			path: '%rootDir%/../../../src/View/Helper/TreeHelper.php'

services:
	-
		class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
